accelerate
argh
dacite
diffusers
flask
flask_cors
numpy
pillow
plotly
pydub
scipy
soundfile
sox
streamlit==1.15.2  # workaround https://github.com/streamlit/streamlit/issues/5867
torch
torchaudio
transformers
